<div class="dashboard_leftpanel">
		<div class="row">
			<div class="col-md-7">
				<a ui-sref="dashboard.landing" ng-click="showDashboardDiv()" class="col-md-12" title="Dashboard">
					<i class="material-icons md-48 leftpanel-icons white_icon">&#xE871;</i>
				</a> 
			</div>
			<div class="col-md-1" ng-show="showDasboardArrow">
			 <img class="arrow-left" src="img/arrow.png" alt="logo"/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<a ui-sref="dashboard.charts"  ng-click="showChartDiv()" class="col-md-12" title="Graphs"> 
					<i class="material-icons md-48 leftpanel-icons white_icon">&#xe85c;</i>
				</a> 
			</div>
			<div class="col-md-1" ng-show="showChartArrow">
				<img class="arrow-left"  src="img/arrow.png" alt="logo"/>
			</div>
		</div>
</div>
		
		<!--<a href="javascript:void(0)" ng-click="showPerformanceDiv()" class="col-md-12" title="Responsiveness"> 
			<i class="material-icons md-48 leftpanel-icons">school</i>
			<i class="material-icons md-48 leftpanel-icons">dashboard</i>
		</a>-->
		 


